<h1>Our Team</h1>
<h3>Teerth Brahmbhatt</h3>
<img src="images/Brahmbhatt.jpg" alt="Teerth Brahmbhatt">
<h3>Madeleine Ghillany-Lehar</h3>
<img src="images/ghillanylehar.jpg" alt="Madeleine Ghillany-Lehar">
<h3>David Lai</h3>
<img src="images/lai.jpg" alt="David Lai">
<h3>Jeffrey Stern</h3>
<img src="images/stern.jpg" alt="Jeffrey Stern">